@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    
}


body * a{
    text-decoration: none;
    color: white;
}
main{
    padding: 5px;
}

/* Navbar inicio */
nav{
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: #048bd3;

}

#logo{
    width: 7%;
    height: 7%;
    display: flex;
    position: absolute;
    left: 5%;
}

.menuLi{
    display: inline-block;
    float: right;
    right: 2%;
    padding: 1%;
    top: 1%;
    
}

.menuA{
    color: white;
}

h1, h5{
    font-family: Roboto;
    padding: 2%;
}
/* Navbar fim */

/* footer inicio */

footer{
    width: 100%;
    position: fixed;
    background-color: #048bd3;
    bottom: 0;
    display: flex;
}

/* footer fim */
.artigos{
    box-shadow: 0px 6px 9px -8px  #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
}
.artigos span{
    width: 80%;
    color: #74c0ee;
    display: block;
    font-size: 15px;
    margin-bottom: 3%;
}

.artigos a{
    width: 100%;
    color: #74c0ee;
    display: block;
    
}


.fotonoticia{
    width: 80%;
    height: 60%;
    display: block;
}

.publicidade{
    width: 100%;
    height: 100%;
    display: block;
}



#vagas{
    text-align: center;
    background-color: #01579b;
    padding: 5%;
    margin-top: 2px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
}

#vervagas{
    text-align: center;
    background-color: #01579b;
    padding: 1%;
    margin-top: 2px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
}

#classificados{
    text-align: center;
    background-color: #004d40;
    padding: 5%;
    margin-top: 2px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
}

#verclassificados{
    text-align: center;
    background-color: #004d40;
    padding: 1%;
    margin-top: 2px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
}

#curriculos{
    text-align: center;
    background-color: #e65100;
    padding: 5%;
    margin-top: 2px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
}

#vercurriculos{
    text-align: center;
    background-color: #e65100;
    padding: 1%;
    margin-top: 2px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
}


#amarelo{
    text-align: center;
    background-color: #ff9800;
    padding: 1%;
    margin-top: 5px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);

}

#verde{
    text-align: center;
    background-color: #4caf50;
    padding: 1%;
    margin-top: 5px;
    color: white;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);

}
#gridart{
    width: 100%;
    align: center;
}
#top1{
    background-color: #0f91f2;
    color:white;
    position: relative;
    float: left;
    left:;
}

#top2{
    background-color: #e81a61;
    color:white;
    position: relative;
    float: left;
    left: 1px;
}

#top3{
    background-color: #4baf4f;
    color:white;
    position: relative;
    float: left;
    left: 1px;
    font-size: 15px;
}
#top4{
    background-color: #ffeb3b;
    color:black;
    position: relative;
    float: left;
    left: 1px;
}


#oportunidades{
    margin-top:5%;
    
}

#boletim{
    margin-bottom: 13%;
}