@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    
}


body * a{
    text-decoration: none;
    color: black;
}
main{
    padding: 5px;
}

/* Navbar inicio */
nav{
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: #048bd3;

}

#logo{
    width: 7%;
    height: 7%;
    display: flex;
    position: absolute;
    left: 5%;
}

.menuLi{
    display: inline-block;
    float: right;
    right: 2%;
    padding: 1%;
    top: 1%;
    
}

.menuA{
    color: white;
}

h1, h5{
    font-family: Roboto;
    padding: 2%;
}
/* Navbar fim */

/* footer inicio */

footer{
    width: 100%;
    position: fixed;
    background-color: #048bd3;
    bottom: 0;
    display: flex;
}

/* footer fim */
#vagaSim{
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
    padding: 2%;
    margin-bottom: 2%;
}

#vagaNao{
    background-color: gray;
    box-shadow: 0px 5px 12px -7px #000000, 0px 0px 0px 1px rgb(0 0 0 / 0%);
    padding: 2%;
    margin-bottom: 2%;
}

#nomeVaga{
    font-size: 25px;
    font-family: 'Roboto';
}

#variavel{
    font-size: 15px;
    font-family: 'Roboto';

}
#atribuicoes{
    color: #0000009f;
}